---
---

@import "strata-academic";


body {
font-family: 'Cochin';
color: #999999;
}

strong {
color: #333333;
}


#header .image.avatar {
  margin: 0 0 1em 0;
  width: 12em;
}

p {
margin: 0 0 1em 0;
}

h2 {
margin: 0.25em 0 0.1em 0;
}
